
<main class="main">
  <h2>YOUR TASKS</h2>



    <%if task.completion_date == nil%>
    <%= render partial: "completion_status", locals: { button_type: "Mark Complete"} %>
    <%else%>
    <%= render partial: "completion_status", locals: { button_type: "Unmark Complete"} %>
    <%end%>


</main>
