<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="index.css">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="home-page">
    <header class="home-header">
      <h1>TASKLIST</h1>
    </header>

    <aside class="side-bar">
      <nav>
        <ul>
          <span class="side-bar-item">All Tasks</span>
          <span class="side-bar-item"><%= link_to "Add Task", new_task_path %></span>
        </ul>
      </nav>
    </aside>

    <main class="main">
      <h2 id="All-tasks">YOUR TASKS</h2>

      <ol class="task-list">
        <%@tasks.each do |task|%>
        <li><%= link_to "Task#{task.id}: #{task.action}", task_path(task.id)%></li>
        <p>Mark Complete | Edit | Delete</p>
        <%end%>
      </ol>

    </main>

    <footer class="footer">copyright Chantelle 2017</footer>
  </div>

</body>
</html>
