
    <main class="main">
      <h2>YOUR TASKS</h2>

      <ol class="task-list">
        <%@tasks.each do |task|%>
        <li><%= link_to "#{task.action.upcase}", task_path(task.id)%></li>
        <p>Mark Complete | <%= link_to "Edit", edit_task_path(task.id) %> | <%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: "Are you sure you want to delete this task: #{task.action}?"}%></p>
        <%end%>
      </ol>

    </main>
