
<main>
  
<h2>Task <%= @task.id %> </h2>

<div class="task">

</div>
<p>Action: <%= @task.action%></p>
<p>Description: <%= @task.description%></p>
<p>Completion Date: <%= @task.completion_date%></p>

</main>
