// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.home-page {
  height: 100%;
  display: grid;
  grid-template-rows: 5rem auto 3rem;
  grid-template-columns: 25rem auto;
  grid-template-areas:
  "home-header home-header"
  "side-bar main"
  "footer footer";
}

.header {
  background-color: yellow;
  grid-area: home-header;
}

.side-bar {
  background-color: red;
  grid-area: side-bar;
}

.side-bar ul {
  text-align: center;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar span {
  width: 5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.main {
  background-color: green;
  grid-area: main;
}

h2 {
  text-align: center;
}

.task-list{
  background-color: purple;
}

.footer {
  background-color: violet;
  grid-area: footer;
  text-align: center;
  padding-bottom: 0px;
}
